* {
  padding: 0;
  margin: 0;
}

header {
  background: black;
  padding: 30px;
  text-align: center;
  color: white;
}

body {
  background: #E8E8E8;
}

div.score-board  {
  font-size: 60px;
  text-align: center;
  padding: 30px 10px;
  border: 6px solid black;
  border-radius: 4px;
  width: 300px;
  margin: 50px auto;
  position: relative;
}

.badge {
  background: blueviolet;
  border: 1px solid black;
  color: white;
  font-size: 25px;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -26px;
}

#com-label {
  position: absolute;
  top: 30px;
  right: -32px;
}

.result > p {
  text-align: center;
  font-weight: bold;
  font-size: 40px;

}

div.message {
  padding: 10px;
  color: black;
  font-size: 30px;
  text-align: center;
}

div.choices {
  text-align: center;
  margin: 20px 0;
}

div.choice {
  display: inline-block;
  padding: 25px;
  border: 6px solid black;
  border-radius: 50%;
  transition: all 0.3s ease;
}

div.com_choices {
  text-align: center;
  margin: 20px 0;
}

div.com_choice {
  display: inline-block;
  padding: 25px;
  border: 6px solid black;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background: blueviolet;
}

div.result {
  text-align: center;
}

img {
  width: 150px;
}